  <nav class="ui container">
    <div class="ui secondary menu">
      <a class="item" href="{% url 'webapp:index' %}">Inicio</a>
      <a class="item" href="{% url 'webapp:schedule' %}">Horas</a>
      <a class="item" href="{% url 'webapp:config' %}">Configuración</a>
      <a class="item" href="{% url 'webapp:paysheet' %}">Nómina</a>
      <a class="item" href="{% url 'webapp:login' %}">Ingresar</a>
      <div class="right menu">
        <div class="item">
          <div class="ui icon input">
            <input type="text" placeholder="buscar">
            <i class="search link icon"></i>
          </div>
        </div>
        <a href="#" class="ui item active">Salir</a>
      </div>
    </div>
  </nav>
